*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/DaubechiesWaveletTransform/nbproject/private/
/main/nbproject/private/
/DaubClass/nbproject/private/
/DaubClass/nbproject/
/DaubClass/build.xml
/DaubClass/build/
/build/
/nbproject/private/
/nbproject/
/build.xml
DaubechiesWaveletTransform.iml
.idea